@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #081f38;
  --foreground: #ededed;
}

@font-face {
  font-family: "LifeCraft_Font";
  src: url("/fonts/LifeCraft_Font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "LifeCraft_Font", Arial, Helvetica, sans-serif;
  cursor: url("/cursors/wow-cursor-main.cur"), auto;
}
a,
button,
[role="button"],
.cursor-pointer {
  cursor: url("/cursors/wow-cursor-focus.cur"), pointer;
}
