@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #081f38;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "LifeCraft_Font";
  src: url("/fonts/LifeCraft_Font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "LifeCraft_Font", Arial, Helvetica, sans-serif;
}
